html {
    width: 95%;
    height: 95%;
}

body {
    width: 99%;
    height: 95%;
    padding: 20px;
    background-image: linear-gradient(lightyellow, lime);
    border: 1px solid black;
}

.speelveld {
    border: 1px solid black;
    background-color: rgba(266, 255, 255, .4); 
    height: 90%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1500px;
}

#centrum {
    background-color: green;
    position: relative;
    width: 20px;
    height: 10px;
    transition: transform;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    user-select: none;
}

.menu {
    margin: 0.5em;
    padding: 10px;
    background-color: #99ff99;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /*column-gap: 15px;*/
    justify-content: space-between;
    border: 1px solid blue;
}

.aantal {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.xaxis {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.yaxis {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}



